.container {
  max-width: 960px;
}


/*
 * Custom translucent site header
 */

#showcase{
background: url("https://pbs.twimg.com/media/DncyogOX0AAWxsE.jpg:large") no-repeat ;
width : 100%;
height : auto;
}

#showcase-2{
background: url("https://pbs.twimg.com/media/DohO2qqUcAAQG4i.jpg:large") no-repeat ;
width : 100%;
height : auto;
}

#my-info{
background: url("https://pbs.twimg.com/media/DngZ7-rW0AELXJG.jpg:large") no-repeat ;
width : 100%;
height : auto;
}

#my-info-2{
background: url("https://pbs.twimg.com/media/Dne3dTTU0AAVpvW.jpg:large") no-repeat ;
width : 100%;
height : auto;
}

#photo-ku-0{
background: url("https://pbs.twimg.com/media/DohQoLxU4AE1jwL.jpg:large") no-repeat ;
width : 10%;
height : auto;
}

#photo-ku{
background: url("https://www.creativeboom.com/uploads/articles/f3/f36dc15208b55b16f8077baab973c4097eb62d39_1100.jpg") no-repeat ;
width : 10%;
height : auto;
}

#center{
margin: auto;
    width: 60%;
    border: 3px solid #eaefef;
    padding: 40px;
    background: url("https://www.creativeboom.com/uploads/articles/f3/f36dc15208b55b16f8077baab973c4097eb62d39_1100.jpg") no-repeat ;
}


#form{
     background: url("https://www.creativeboom.com/uploads/articles/f3/f36dc15208b55b16f8077baab973c4097eb62d39_1100.jpg") no-repeat ;
     width : 10%;
     height : auto;
     }


#photo-ku2{
background: url("http://images.worldnow.com/digitaltrends/images/17141936_G.jpg?auto=webp&disable=upscale&width=800&lastEditedDate=20180707075132") no-repeat ;
width : 10%;
height : auto;
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
