
{% block content %}
{% load staticfiles %}
{% load static %}
	<body>

    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#berandaku">selamat datang.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#berandaku">beranda. <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#infoku">tentang diriku.</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#infoku">fotoku.</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#formku">isi form.</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{%url 'form_page' %}">form acara.</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{%url 'display' %}">display acara.</a>
                </li>



            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#iniextra">extra.</a>
                </li>
            </ul>
        </div>
    </div>
</nav>





        <div class="col-sm-12">
        <div class="roundedrec">
            <div class="insiderec">
                <table style="width:100%">
                    {% if Schedules %}
                        <tr> 
                            <th>Nama Kegiatan</th>
                            <th>Nama Tempat</th>
                            <th>Kategori Kegiatan</th>
                            <th>Waktu Kegiatan</th>
                        </tr>
                        {% for Schedule in Schedules %}
                            <tr>
                                <td>{{ Schedule.nama_kegiatan }}</td>
                                <td>{{ Schedule.nama_tempat }}</td> 
                                <td>{{ Schedule.kategori_kegiatan }}</td>
                                <td>{{ Schedule.waktu_kegiatan }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h5 class="red">There's no upcoming events yet, have fun!</h5> 
                    {% endif %}
                </table>
                <a class="btn btn-danger" href="/afterpurge" role="button">purge</a>
                <br>
            </div>
        </div>
    </div>
    </body>


{% endblock %}