
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>selamat datang di website ku.</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="product.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'product.css'%}">
</head>


<body>
<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#berandaku">selamat datang.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#berandaku">beranda. <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#infoku">tentang diriku.</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#infoku">fotoku.</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#formku">isi form.</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{%url 'form_page' %}">form acara.</a>
                </li>



            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#iniextra">extra.</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<section name="form">
        <h1>tambah acara.</h1>
        <form id="formacara" method="POST" action="{% url 'schedule' %}">
            {% csrf_token %}
           	{{ message_form }}
            <br>
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

{% block content %}
{% endblock %}
</body>
</html>
    
