{% load staticfiles %}

<html lang="en">
<head>
    {% include 'base.html' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>selamat datang.</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'product.css'%}">
</head>
<body>







<a name="berandaku">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="showcase">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal" style="color: white">selamat datang kawan.</h1>
            <p class="lead font-weight-normal" style="color:white">website ini berisi informasi tentang hidup saya, juga pengumpulan tugas story 5 saya.</p>
            <a class="btn btn-outline-secondary" href="#" style="color: white">mulai eksplorasi.</a>
        </div>


    </div>
</a>

<a name="infoku">
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" id="my-info">
            <div class="my-3 py-3">
                <h2 class="display-5">tentang diriku. </h2>
                <p class="lead">ini info tentang diriku.</p>
            </div>
            <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <p style="color: black">Nama: Romi Hadiyan.</p>
                <p style="color: black">Tanggal Lahir: 28 Agustus 1999.</p>
                <p style="color: black">NPM : 1706022640.</p>
                <p style="color: black">Domisili: Jakarta Selatan.</p>

            </div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" id="my-info-2">
            <div class="my-3 p-3">
                <h2 class="display-5" style="color:white">tentang diriku.</h2>
                <p class="lead" style="color:white">ini info tentang diriku.</p>
            </div>
            <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <p style="color: white">ID Line: romihadian.</p>
                <p style="color: white">Makanan Favorit: Pecel Ayam.</p>
                <p style="color: white">Genre Musik: Edgy-Electronic-Pop-Indie-R&B-Rhytmic</p>
                <p style="color: white">Kata Mutiara: Mengapa ada jika tidak ada ?</p>

            </div>
        </div>
    </div>
</a>


<a name="fotoku">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="showcase-2">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal" style="color: white">foto ku.</h1>
            <p class="lead font-weight-normal" style="color:white">ini fotoku dan temanku.</p>
            <p class="lead font-weight-normal" style="color:white">mari lihat.</p>
            <p class="lead font-weight-normal" style="color:white">semuanya.</p>

        </div>


    </div>
</a>








<a name="formku">
    <div class="container" id="center">
        <div class="row main">
            <div class="main-login main-center">
                <h5 style="color: white">mari isi form.</h5>
                <form class="" method="post" action="#">

                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label" style="color: white">nama lengkap</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="name" id="name"  placeholder="ex: Romi Hadiyan"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label" style="color: white">tanggal.</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="date" class="form-control" name="name" id="tanggal"  placeholder="ex: Romi Hadiyan"/>
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label" style="color: white">email anda.</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="email" id="email"  placeholder="ex: romihadiyan@gmail.com"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label" style="color: white">subject</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="username" id="username"  placeholder="ex: keperluan penting."/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" >
                        <label  class="cols-sm-2 control-label" style="color: white">pesan.</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="ex/Saya ingin bertemu dengan anda pada..."></textarea>
                            </div>
                        </div>
                    </div>


                    <div class="form-group ">
                        <a href="#" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">submit.</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</a>



<a name="iniextra">
    <footer class="container py-5">
        <div class="row">

            <div class="col-6 col-md">
                <h5>ikuti saya juga di.</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://twitter.com/RomiHadiyan">twitter.</a></li>
                    <li><a class="text-muted" href="https://www.instagram.com/romihadiyan/">instagram.</a></li>
                    <li><a class="text-muted" href="https://www.facebook.com/romi.hadian1">facebook.</a></li>
                    <li><a class="text-muted" href="https://www.linkedin.com/in/romi-hadiyan-b28453166/">linkedin.</a></li>

                </ul>
            </div>

        </div>
    </footer>
</a>




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>


</body></html>